html {
		background: #8CBBD9;
}

h1, #clickedNode {
	text-align: center;
}

#URLlist {
	width: 400px;
	padding: 10px;
	margin: 10px;
	border: solid 3px red;
	background-color: white;
	float: left;
}

#childURLs {
	width: 400px;
	padding: 10px;
	margin: 10px;
	border: solid 3px red;
	background-color: white;
	float:left;
}

#URLlist, #childURLs p {
	color: black;
}

#canvasDiv {
	padding: 10px;
	margin: 10px;
	border: solid 3px green;
	background-color: white;
	clear:both;
}

#d3Div {
	clear: both;
	background: #8CBBD9;
	color: black;
}

